/* colors*/
html {
  font-size: 100%;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 2rem;
}
small,
strong {
  font-size: 1.8rem;
}
body {
  background-color: #1d1d23;
  color: white;
  font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
  margin: 0;
}
body .container-fluid {
  margin: 0;
  padding: 0;
}
main {
  background: #1d1d23 url(../img/01_1.png) center center no-repeat;
  background-size: cover;
  padding-right: 15px;
}
main .container-fluid {
  margin-left: 5%;
}
main .text_row {
  font-size: 1.3rem;
  padding-right: 2rem;
  margin: 0 200px 15px 0;
  margin-bottom: 3%;
}
main .header .row_header {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
main .header .row_header .logo {
  margin-top: 15px;
}
main .header .main_text {
  margin-bottom: 5%;
  margin-right: 30%;
}
main .header .text-main {
  margin-right: 10%;
}
main .header h1 {
  margin: 0 20px 15px 0;
  color: #e58f00;
  font-size: 6rem;
  font-weight: 500;
  font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
}
main .header p {
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-bottom: 3%;
}
main .header .logo {
  width: 100%;
}
main .header .btn-contact {
  background-color: #e58f00;
  color: black;
  padding: 2rem 3rem;
  border-radius: 8px;
  font-size: 24px;
}
main .header img {
  margin-bottom: 10%;
}
.main_about {
  margin-right: 5%;
  margin-top: 7%;
}
.main_about .about_text {
  margin: 0;
}
.main_dop {
  background: #1d1d23 url(../img/03_1.png) center 0 no-repeat;
  background-size: cover    ;
  padding-top: 50px;
}
.main_dop img {
  float: right;
}
.main_dop .main_dop_text {
  margin-left: 20%;
  margin-top: 30%;
}
.main_dop .img_t img {
  float: left;
  width: 50%;
  height: auto;
}
.main_dop .img_ta img {
  float: right;
  width: 70%;
  height: auto;
}
.enjou {
  background: #1d1d23 url(../img/5_1.png) center center no-repeat;
  background-size: cover   ;
  padding-top: 5%;
  margin: 15px auto;
  min-height: 960px;
  width: 100%;
}
.enjou .container-fluid {
  min-height: 960px;
}
.enjou .enjou_title {
  margin: 200px 0px 0px 0px;
}
.enjou .enjou_text {
  margin: 5px 0px 0px 0px;
}
.final {
  margin: 15px;
}
.final .logo {
  margin: 15px;
}
.ffinal {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}
.ffinal img {
  margin: 10px;
}
@media (min-width: 410px) {
  html {
    font-size: 60%;
  }
  .main_about {
    margin-left: 5%;
    margin-right: 5%;
  }
  .main_about .about_text {
    margin-top: 8%;
  }
  .main_dop .main_dop_text {
    margin-left: 5%;
    margin-top: 5%;
  }
  .enjou {
    margin: -150px 0;
    padding: 0;
    background: #1d1d23 url(../img/5_1.png) center center no-repeat;
    background-size: auto 65%;
  }
  .enjou .enjou_title {
    margin-top: 380px;
  }
  .ffinal img {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 55%;
  }
  .main_about .about_text {
    margin-top: 0%;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 80%;
    margin: 0;
    padding: 0;
  }
  .main_about .about_text {
    margin-top: 0%;
  }
  .main_dop .main_dop_text {
    margin-left: 20%;
    margin-top: 30%;
  }
  .enjou {
    background: #1d1d23 url(../img/5_1.png) center center no-repeat;
    background-size: cover   ;
    padding-top: 5%;
    margin: 15px auto;
    min-height: 960px;
    width: 100%;
  }
  .enjou .container-fluid {
    min-height: 960px;
  }
  .enjou .enjou_title {
    margin: 200px 0px 0px 0px;
  }
  .enjou .enjou_text {
    margin: 5px 0px 0px 0px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
  .main_about .about_text {
    margin-top: 0%;
  }
  .main_dop .main_dop_text {
    margin-left: 20%;
    margin-top: 30%;
  }
  .enjou {
    background: #1d1d23 url(../img/5_1.png) center center no-repeat;
    background-size: cover   ;
    padding-top: 5%;
    margin: 15px auto;
    min-height: 960px;
    width: 100%;
  }
  .enjou .container-fluid {
    min-height: 960px;
  }
  .enjou .enjou_title {
    margin: 200px 0px 0px 0px;
  }
  .enjou .enjou_text {
    margin: 5px 0px 0px 0px;
  }
}
/* colors*/
@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/13309.eot');
  src: url('../fonts/13309.eot?#iefix') format('embedded-opentype'), url('../fonts/13309.woff2') format('woff2'), url('../fonts/13309.woff') format('woff'), url('../fonts/13309.ttf') format('truetype'), url('../fonts/13309.svg#13309') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
