/* colors*/
body {
  background-color: #1d1d23;
  color: white;
  font-family: 'Myriad Pro';
}
main {
  background: #1d1d23 url(../img/01_1.png) center center no-repeat;
  background-size: cover;
}
.container-fluid {
  margin: 0 ;
}
.header .row_header {
  font-weight: 600;
  text-transform: uppercase;
  border: white 1px solid;
  text-align: center;
}
.header .row_header .col-sm-12 {
  border: red 1px solid;
}
.header .row_c {
  padding: 35px 0 35px 0;
}
.header h1 {
  color: #e58f00;
  font-size: 6rem;
}
.header p {
  font-size: 1.2rem;
  padding-right: 2rem;
}
.header .logo {
  width: 100%;
}
.header .btn-contact {
  background-color: #e58f00;
  color: black;
  padding: 2rem 3rem;
  border-radius: 8px;
  font-size: 24px;
}
/* colors*/
@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Regular.woff2') format('woff2'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
